{% extends 'base.html' %}
{% block title %} Crpto {% endblock %}
{% block body %}
  <form class="box columns" id="c-form" method="POST" action="/c">
    {{ form.csrf_token }}
  <ul class="column is-one-third panel px-0 is-shadowless">
    <h3 class="panel-heading title is-size-4 p-3 mb-1 has-background-dark has-text-white">Pick a Tool Mortie!</h3>
    {% for choice in form.choices %}
    <li class="panel-block sub-title is-size-6 p-3 my-0">
      <label class="radio">
        {{ choice }}
        {{ choice.label }}
      </label>
    </li>
    {% endfor %}
    <input type="submit" class="button mt-2 is-fullwidth" style="background: blueviolet; color: white; font-weight: bold; font-style: italic;">
  </ul>
  <div class="column is-two-third">
    {{ form.text(class="textarea is-primary has-fixed-size mb-2", rows="10") }}
    {% if result %}
      <pre>{{ result.output }}</pre>
    {% endif %}
  </div>
  </form>
{% endblock %}

{% block script %}
<script type="text/javascript">
</script>
{% endblock %}
