{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block body %}
  <div class="columns">
  <ul class="column is-one-third">
    <li class="card-header title is-size-4 p-5 my-4">
      <a href="/r">Reverse Shell Generator</a>
    </li>
    <li class="card-header title is-size-4 p-5 my-4">
     <a href="/c">Cryptography Cracker</a>
    </li>
    <li class="card-header title is-size-4 p-5 my-4">
      <a href="/s">Stegnographic Analyzer</a>
    </li>
  </ul>
  <div class="column"></div>
  </div>
{% endblock %}